
<main class="main">
  <header>
    <nav>
        <ul>
            <li><h1>Delightful Eats</h1></li>
            <li><a href="#about">About</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
  <img src="https://res.cloudinary.com/ddexbnyng/image/upload/delightful-eats/Hero.jpg" alt="Restaurant Interior  "/>
  <div class="hero-content">
      <h2>Experience the Taste of Perfection</h2>
      <button>View Our Menu</button>
  </div>
</section>

<section id="about" class="container">
    <div class="column">
        <h3>Our Story</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod lacus vel diam finibus, vitae efficitur metus lacinia. Nullam tincidunt...</p>
        <img src="https://res.cloudinary.com/ddexbnyng/image/upload/delightful-eats/Restaurant.jpg" alt="Restaurant Interior">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod lacus vel diam finibus, vitae efficitur metus lacinia. Nullam tincidunt.</p>
    </div>
    <div class="column">
      <h3>Featured Dishes</h3>
      <div class="image-tile">
          <img src="https://res.cloudinary.com/ddexbnyng/image/upload/delightful-eats/Food1.jpg" alt="Dish Name">
          <p>Lorem ipsum dolor sit amet </p>
      </div>
      <div class="image-tile">
          <img src="https://res.cloudinary.com/ddexbnyng/image/upload/delightful-eats/Food2.jpg" alt="Dish Name">
          <p>Lorem ipsum dolor sit amet </p>
      </div>
    </div>
</section>

<footer>
    <p>&copy; 2024 Delightful Eats</p>
</footer>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
